<div id="live">
                    <section id="banner">
                        <header>
                            <h2 translate> <strong> CAROUSEL_TITTLE </strong></h2>
                        </header>
                    </section>
                    <section class="carousel">
                        <div class="reel">
                                <article ng-repeat="video in videos" class="article">
                                <a href="#/player/{{video.id}}/">
                                    <img src="DemoPlayer/content/static/media/images/{{video.snapshot}}" width="100%"  alt="test" />
                                    <p class="service">{{video.name}}</p>
                                    <p class="provider">{{video.views}}</p>
                                </a>
                                </article>
                        </div>
                    </section>              
                    <br>          
</div>