<div class="container">
                <article id="main" class="special">
                    <header>
                    <br>

                    <ng-include src="'content/views/player/dash_player.html'">

                     </ng-include>

                    <ng-include src="'content/views/player/native_player.html'">

                     </ng-include>
  
                 
                    </header>
                </article>
                <article class="special">
                  <h1>  <b> {{video.name}} </b> </h1>
                  <br>
                  <p> {{video.Plot}}</p>
                  <p> {{video.Released}}</p>
                  <p> {{video.Language}}</p>
                </article>
</div>



